/* @media screen and (max-width: 1161px) {
    .header-phone-top-icon,
    .header-banner {
        width: 100%;
        padding: 10px;
        margin: 0;
    }
    .body{
        width: 100%;
    }
    .header-phone-top-icon {
        display: none;
    }
    .header-menu-icon-right{
        display: none;
    }
    .header-top-menu{
        margin-right: 250px;
    }
    .menu-logo{
        margin-right: 50px;
    }
    .container{
        width: 100%;
    }
    .header-menu-right{
        display: none;
    }
    .checkbtn{
        display: block;
    }
    .header-banner-text{
        width: 100%;
        margin: 0;
        padding: 10px;
    }
    .header-banner-home{
        margin-top: -5px;
    }
    .banner-txt{
        justify-content: flex-end;
    }

} */
@media screen and (max-width: 1161px) {
    .header-phone-top-icon,
    .header-banner {
        width: 100%;
        padding: 10px;
        margin: 0;
    }
    /* HEADER */
    .header-phone-top-icon {
        display: none;
    }
    /* NAVIGATION */
    .header-menu ul {
        position: fixed;
        width: 40%;
        max-width: 100%;
        background-color: rgb(202, 202, 202);
        overflow-y: scroll;
        top: 0;
        left: 0;
        bottom: 0;
        transform: translateX(-100%);
        z-index: 3;
        opacity: 0;
        transition: transform linear 0.2s, opacity linear 0.2s;
    }
    .brand {
        font-size: 30px;
    }
    .checkbtn {
        display: block;
    }
    .navbar ul li {
        display: block;
    }
    .nav-list a {
        font-size: 8px;
        margin: 50px 0;
        line-height: 30px;
    }
    .banner {
        max-width: 100%;
    }
    .text-banner {
        font-size: 60px;
        text-align: center;
    }
    .text-banner-small {
        font-size: 20px;
        text-align: center;
    }
    .navbar {
        justify-content: flex-start;
    }
    .product-viewed {
        justify-content: flex-start;
    }
}

