*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Montserrat-Bold;
}
ul{
    list-style: none;
}
.container{
    width: 1170px;
    position: relative;
}
.row-main{
    color: #3c3950;
    width: 261px;
    display: inline-block;
}
.header-phone-top-icon{
    display: flex;
    background: #f4f6f7;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 14px;
    width: 100%;
}
.header-top-icon{
    display: flex;
    margin-right: 95px;
}
.header-menu-top-item{
    display: flex;
    margin-right: 100px;
}
.header-menu-top-item i{
    color: #666666;
}
.header-icon{
    color: #666666;
}
.header-phone{
    color: #666666;
}
.phone{
    margin-left: 10px;
}
.header-phone{
    margin-right: 100px;
}
.header-top-icon li{
    margin-left: 10px;
}
.header-menu-top-item li{
    margin-left: 10px;
}
.btn-top-right{
    background: #333366;
    color: #ffffff;
    height: 35px;
    width: 100px;
    font-weight: bold;
}
.header-top-menu{
    display: flex;
    justify-content: center;
    height: 95px;
    line-height: 100px;
    align-items: center;
}
.header-menu{
    margin-left: 100px;
    margin-right: 160px;
}
.header-menu-right{
    display: flex;
}
.text-logo{
    color: #333333;
    font-size: 25px;
}
.header-menu-icon-right{
    display: flex;
    margin-right: 190px;
}
.menu-logo{
    display: flex;
    font-size: 15px;
    align-items: center;
    margin-left: 188px;
}
.header-menu-right a{
    text-decoration: none;
    margin-left: 30px;
    color: #333366;
    font-weight: bold;
}
.menu-logo img{
    margin-right: 10px;
}
.menu-5{
    border: 3px solid black;
    padding: 5px 25px;
}
.header-menu-right a:hover{
    color: #00cccc;
}
.language{
    margin-right: 10px;
}
.cart{
    margin-right: 15px;
}
.btn-banner-left{
    position: absolute;
    margin-top: 105px;
    height: 50px;
    width: 50px;
    background: #333333;
}
.btn-banner-right{
    right: 0;
}
.btn-banner-right{
    position: absolute;
    margin-left: 1469px;
    margin-top: 105px;
    height: 50px;
    width: 50px;
    background: #333333;
}
.btn-banner-left:hover{
    background:#00cccc;
}
.btn-banner-right:hover{
    background: #00cccc;
}
.left-right{
    font-size: 35px;
    color: #ffffff;
}
.left-right:hover{
    background: #00cccc;
}
.header-banner{
    height: 300px;
}
.btn-banner-left{
    left: 0;
}
.btn-top-right{
    right: 0;
}
.header-banner-text{
    text-align: right;
    margin-right: 185px;
}
.header-banner-title{
    font-size: 100px;
    /*margin-left: 940px;*/
    color: #ffffff;
}
.header-banner-text-off{
    font-size: 100px;
    color: #ffffff;
}
.text-display{
    display: flex;
    justify-content: center;
    margin-left: 970px;
}
.header-banner-txt{
    color: #ffffff;
    margin-left: 840px;
    justify-content: center;
    text-align: center;
}
.header-banner-home{
    margin-right: 1110px;
    margin-top: 110px;
    color: #ffffff;
    text-align: center;
}
.header-banner-home span{
    color: #00cccc;
}

.main{
    display: flex;
    justify-content: center;
    margin-top: 110px;
}
.main-title-text{
    font-size: 20px;
    margin-bottom: 30px;
}
.float-right{
    float:right;
}
.categories ul li{
    color: #3c3950;
    padding: 16px 30px;
    border: 1px solid #ddd;
}
.categories a{
    color: #3c3950;
    text-decoration: none;
}
.dropdown-content {
    display: none;
    background-color: #f4f6f7;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.dropdown-content a {
    padding: 16px 20px;
    text-decoration: none;
    display: block;
    width: 261px;
}
.dropdown-content a i {
    font-size: 7px;
    padding: 6px 14px;
}
.dropdown-content a:hover {
    background-color: #d8e3e8;
    color: #58cadd;
}
.menu-dropdown:hover .dropdown-content {
    display: block;
}
.menu-dropdown:hover .dropdown-proin i {
    transform: rotate(90deg);
}
.dropdown-menu-2:hover .child-content {
    display: block;
}
.child-content>a {
    font-size: 14px;
}
.child-content>a:hover {
    color: #f44336
}
.dropdown-menu-2:hover .dropdown-proin i {
    transform: rotate(90deg);
}
.child-content {
    display: none;
}

.main-search {
    margin-top: 68px;
    position: relative;
    margin-bottom: 60px;
}
.main-text{
    width: 100%;
    padding: 11px;
    border: 2px solid #dfe5e8;
}
.search-icon{
    position: absolute;
    left: 89%;
    top: 37%;
    color: #99a9b5;
}

.input-price{
    width: 100%;
    margin-bottom: 40px;
}
.filter-price-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 50px;
}
.filter-by-price-list{
    display: flex;
    flex-direction: column;
}
.btn-filter {
    font-size: 14px;
    color: #00bcd4;
    width: 82px;
    height: 29px;
    border: 2px solid #00bcd4;
    font-family: Montserrat-Bold;
}
.filter-price-text{
    color: #5f727f;
    font-size: 16px;
}
.select-color-size{
    width: 100%;
    height: 40px;
    border-color: #a1b0ba;
    color: #5f727f;
    font-size: 16px;
    margin-bottom: 50px;
}

.filter-title-price-list{
    display: flex;
    flex-direction: column;
}
.product-viewed{
    width: 80px;
    height: 80px;
    background: #999999;
    border-radius: 50%;
    position: relative;
    margin-left: 15px;
}
.product-title-here{
    background-color: #f0f3f2;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.product-view-title{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.viewed-p{
    color: #5f727f;
    font-size: 16px;
}
.viewed-display{
    display: flex;
}
.product-viewed-title{
    margin-left: 20px;
    margin-top: 10px;
}
.rate-icon{
    color: #ffc107;
}
.tag-percent {
    right: 1077px;
    background-color: #00bcd4;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    position: absolute;
    color: #ffffff !important;
}
.product-tags-content{
    color: #5f727f;
    font-size: 16px;
}
.product-tags-content>span{
    border: 1px solid #99a9b5;
    display: inline-block;
    margin: 0 9px 9px 0;
    padding: 6px;
}
.feature-products{
    display: flex;
    padding-top: 10px;
}
.img-feature{
    position: relative;
    width: 60px;
    height: 60px;
    background-color: #999999;
}
.feature-text{
    margin-left: 10px;
}
.feature-title{
    font-size: 18px;
}
.feature-price{
    font-size: 18px;
}
.feature-position{
    background-color: #00bcd4;
    margin-left: 43px;
    margin-top: 8px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    position: absolute;
    color: #ffffff !important;
}
.coupon {
    width: 100%;
    margin: 83px 0 68px;
    height: 584px;
    padding: 18px;
    background-color: #ff5176;
}
.coupon-margin {
    border: 8px solid #ffffff;
    height: 548px;
    text-align: center;
}
.coupon-content {
    text-align: center;
}
.color-text {
    color: #ffffff;
}
#for-free {
    color: rgb(214, 214, 12);
    font-size: 32px;
}
.coupon-title {
    font-size: 36px;
    letter-spacing: 2px;
}
.coupon-price {
    font-size: 120px;
}
.text-size {
    font-size: 24px !important;
}
#coupon-text {
    margin: 26px 29px 40px;
}
.form-submit-mail {
    margin: 0 20px;
}
.input-mail {
    border: none;
    padding: 15px;
    width: 100%;
    font-size: 16px;
    height: 40px;
}
.btn-submit-mail {
    width: 100%;
    height: 40px;
    border: none;
    background-color: #2c2e3d;
    color: #ffffff;
    margin-top: 14px;
}
.cart-text{
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    margin-bottom: 30px;
    color: #5f727f;
    font-size: 16px;
}
.cart-input{
    display: flex;
    justify-content: space-between;
}
.btn-view-cart{
    border: none;
    background-color: #00bcd4;
    color: #ffffff;
    width: 124px;
    height: 30px;
    font-size: 14px;
    border-radius: 3px;
}
.btn-view-check{
    width: 124px;
    height: 30px;
    font-size: 14px;
    border-radius: 3px;
}

.main-right{
    float: right;
    width: calc(100% - 303px);
}
.main-products-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product-item {
    width: calc(33.333% - 28px);
    margin-bottom: 42px;
}
.img-products{
    background-color: #d8e3e8;
    width: 100%;
    height: 300px;
}
.product-item{
    width: calc(33.333% - 28px);
    margin-bottom: 42px;
}
.product-text{
    position: relative;
    background-color: #f9fbfc;
    color: #3c3950;
    width: 100%;
    height: 85px;
}
.product-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.line {
    width: 51px;
    height: 0;
    border: 0.2px solid #00bcd4;
    margin: 8px;
}
.product-info:hover .line{
    width: 80px;
}
.product-item:hover .product-text {
    background-color: #393d50;
    color: #ffffff;
    transition: 0.5s all;
}
.btn-left-right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 73px;
}
.btn-left-right button{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid#99a9b5;
    color: #99a9b5;
}
.btn-left-right button:hover{
    background: #333366;
    color: #ffffff;
}

.nav-sorting{
    background-color: #f0f3f2;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 42px;
}
.nav-bar select{
    width: 182px;
    height: 30px;
    border: none;
}
.sorting-conten{
    color: #5f727f;
    font-size: 16px;
}
.desc-asc{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 14px;
    color: #5f727f;
}
.swich{
    position: relative;
    display: inline-block;
    width: 43px;
    height: 24px;
}
.swich input{
    opacity: 0;
    width: 0;
    height: 0;
}
.silider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #b6c6c9;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}
.silider::before{
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}
.page-dropdown{
    display: flex;
    align-items: center;
    gap: 20px;
    color: #99a9b5;
}
.on-page{
    color: #5f727f;
    font-size: 16px;
    width: 182px;
    height: 30px;
    border: none;
}

.main-products-list-2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.products-ads{
    position: absolute;
    right: -22px;
    top: 22px;
}
.products-sale{
    background-color: #00bcd4;
    width: 63px;
    height: 63px;
    z-index: 2;
}
.title-sale{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 12px;
}
.products-new{
    position: absolute;
    background-color: #393d50;
    width: 50px;
    height: 50px;
    top: 50px;
    left: 5px;
    z-index: 1;
}
.title-product-text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 12px;
}
.products-start{
    background-color: #ffffff;
    width: 100%;
    height: 143px;
    border-left: 1px solid #dfe5e8;
    border-right: 1px solid #dfe5e8;
    border-bottom: 1px solid #dfe5e8;
}
.products-info{
    color: #5f727f;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 13px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: relative;
}
.product-color-price{
    color: #42c6da;
}
.list-icon{
    display: flex;
    align-items: center;
    gap: 8px;
}
.text-content{
    color: #5f727f;
    font-size: 16px;
}

.btn-pagination{
    display: flex;
    justify-content: center;
}
.btn-1{
    margin-left: 10px;
    width: 30px;
}
.pagination-title{
    background: #cccccc;
    color: #ffffff;
}
.btn-2{
    background: #333366;
    color: #ffffff;
}
.btn-4:hover{
    background: #00cccc;
    color: #ffffff;
}

.our-brands {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 70px;
    height: 437px;
    background: linear-gradient(-135deg, #ffffff 16px, transparent 0), linear-gradient(135deg, #ffffff 16px, transparent 0), linear-gradient(-45deg, #ffffff 16px, transparent 0), linear-gradient(45deg, #ffffff 16px, transparent 0);
    background-color: #f0f3f2;
    background-position: left top, left top, left bottom, left bottom;
    background-repeat: repeat-x;
    background-size: 32px 32px, 32px 32px;
}
.our-brands p {
    font-family: montserrat-ultra-light;
    font-size: 28px;
    text-align: center;
}
.row-our-brands {
    display: flex;
    margin-top: 70px;
    justify-content: space-around;
}
.img-brand {
    background: #dfe5e8;
    border-radius: 50%;
    width: 80px;
    height: 80px;
}
.img-brand:hover {
    background-color: #99a9b5;
}
.img-brand-our {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-top: 85px;
    margin-left: 15px;
}

.title-latest-news {
    font-size: 28px;
    text-align: center;
    color: #555;
    padding-top: 77px;
}
.latest-news {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.latest-news-row {
    display: flex;
    justify-content: space-between;
}
.card-latest-news {
    width: 261px;
    height: 510px;
}
.content-latest {
    background: #f0f3f2;
    padding: 0 20px 20px;
}
.img-latest {
    width: 100%;
    height: 188px;
    background: #dfe5e8;
}
.react {
    padding-top: 10px;
}
.author {
    float: left;
    font-family: SourceSansPro-Regular;
}
.author a {
    text-decoration: none;
    color: #00bcd4;
    font-size: 14px;
}
.comment {
    float: right;
    display: flex;
}
.comment img {
    padding-left: 10px;
}
.title-latest {
    margin-top: 42px;
    font-size: 24px;
    color: #3c3950;
}
.description-latest {
    margin-top: 42px;
}
.btn-latest {
    display: flex;
    margin-top: 42px;
}
.btn-latest i {
    background-color: #b6c6c9;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}
.btn-latest button {
    cursor: pointer;
    border: 3px solid #00bcd4;
    margin-left: 30px;
    width: 125px;
    height: 30px;
    color: #00bcd4;
    font-size: 14px;
    font-family: Montserrat-Bold;
}

.about {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col-about {
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
}
.col-one-about,
.col-two-about {
    height: 330px;
    width: 563px;
    border-right: 1px solid #dfe5e8;
    border-bottom: 1px solid #dfe5e8;
    border-radius: 0 50px 50px 50px;
}
.content-about {
    padding: 60px;
}
.title-content-about {
    float: left;
    font-family: Montserrat-Bold;
}
.title-content-about p {
    font-size: 24px;
    color: #3c3950;
}
.icon-title-about {
    float: right;
}
.description-about {
    padding: 0 60px;
}
.img-about {
    margin-top: 35px;
    padding: 0 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.card-img-about {
    background-color: #f1f1f1;
    width: 52px;
    height: 32px;
    line-height: 75px;
    font-size: 30px;
    display: flex;
}
.checkbox-about {
    padding: 0 60px;
}
.checkbox-about ul li {
    padding-bottom: 15px
}

.list-products {
    margin-top: 70px;
    height: 526px;
    background: #f0f3f2;
    position: relative;
    display: flex;
    justify-content: center;
}
.col-list-products {
    display: flex;
    justify-content: space-between;
    font-family: Montserrat-Bold;
}
.col-list-products h3 {
    font-size: 19px;
    margin-top: 95px;
    color: #3c3950;
}
.img-main {
    width: 60px;
    height: 60px;
}
.one {
    background-color: #999999;
}
.two {
    background-color: #666666;
}
.three {
    background-color: #336666;
}
.card-new-products ul li {
    display: flex;
    margin: 33px 0 15px 0;
}
.img-new-products {
    position: relative;
}
.img-new-products span {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 12px;
    right: -12px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #00bcd4;
    color: #ffffff;
}
.img-new-products-one {
    background-color: #c5c5c5;
    width: 80px;
    height: 80px;
}
.des-img-new-products {
    background-color: #ffffff;
    width: 285px;
}
.text-new-products {
    padding: 10px;
    margin-left: 10px;
}
.checked {
    color: orange;
}

.sell-more {
    height: 225px;
    background: #d1edac;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3c3950;
}
.text-sell-more {
    font-family: montserrat-ultra-light;
    font-size: 42px;
    float: left;
    display: flex;
}
.text-sell-more i {
    font-size: 70px;
    padding-right: 20px
}
.text-sell-more span{
    font-family: Montserrat-Bold;
}
.btn-sell-more {
    cursor: pointer;
    float: right;
    width: 235px;
    height: 48px;
    border: 3px solid #3c3950;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 19px;
    font-family: Montserrat-Bold;
}
.m-0{
    margin-left: 10px;
    margin-right: 10px;
}
.m-1-1{
    color: red;
}
.fa-comment{
    color: #b6c6c9;
}
.heart{
    color: #b6c6c9;
}
.new-heart{
    margin-right: 10px;
}

.footer {
    display: flex;
    justify-content: center;
    background: #212331;
    color: #93a2ae;
}
.footer-content {
    display: flex;
    margin-top: 130px;
    margin-bottom: 50px;
}
.thegem-footer {
    width: 261px;
    margin-right: 42px;
}
.img-logo-footer {
    display: flex;
}
.img-logo-footer img {
    width: 90px;
    height: 90px;
}
.img-logo-footer p {
    color: #ffffff;
    font-family: SourceSansPro-Regular;
    font-size: 38px;
}
.img-logo-footer span{
    font-family: Montserrat-Bold;
}
.text-footer {
    padding-top: 50px;
}
.contact-footer {
    padding-top: 70px;
}
.title-footer {
    font-size: 19px;
    color: #ffffff;
    display: inline-block;
    font-family: Montserrat-Bold;
}
.address-footer p {
    padding-top: 20px;
}
.icon-contact-footer img {
    padding-top: 20px;
}
.footer-email{
    color: #00cccc;
}
.list-title{
    color: #00cccc;
}
.content-thegem {
    width: 870px;
    display: flex;
    flex-direction: column;
}
.content-footer-1 {
    width: 100%;
    height: 330px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 42px;
}
.content-footer-col1 {
    width: 261px;
}
.content-footer-col2 {
    width: 261px;
    margin-top: 80px;
}
.content-footer-2 {
    display: flex;
    justify-content: space-between;
}
.card-recent-posts {
    margin-top: 50px
}
.card-item {
    display: flex;
    padding-bottom: 10px;
}
.img-recent {
    min-width: 72px;
    height: 72px;
    border-radius: 50%;
    margin: 0 10px 0 0;
}
.content-recent span {
    color: #00bcd4
}
.email-us button {
    width: 100%;
    height: 40px;
    border: none;
    color: #99a9b5;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    background-color: #394050;
    margin-top: 16px;
}
.input-text-user-email {
    position: relative;
}
.input-email {
    margin-top: 50px;
}
.input-email input,
.inputNew-letter input,
textarea {
    background-color: #181828;
}
.input-text-user-email i {
    position: absolute;
    right: 0;
    top: 8px;
    padding: 9px 8px;
}
.input-text-user-email input[type="email"],
.input-text-user-email input[type="text"],
textarea {
    width: 100%;
    margin: 8px 0;
    padding: 8px;
    font-size: 16px;
    font-family: SourceSansPro-Regular;
    color: #ffffff;
}
textarea {
    height: 100px;
}

.input-text-user-email input[type="email"],
.input-text-user-email input[type="text"],
.inputNew-letter input[type="text"] {
    height: 40px;
    font-size: 16px;
    font-family: SourceSansPro-Regular;
    color: #ffffff;
}
.email-us button {
    height: 40px;
    border: none;
    color: #99a9b5;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    background-color: #394050;
    margin-top: 16px;
}
.img-project-client {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 50px;
}
.footer-img-right {
    display: flex;
    width: 80px;
    height: 80px;
}
.img-footer-one{
    display: flex;
    padding-left: 75px;
}
.img-one-footer{
    width: 25px;
    height: 25px;
    border-radius: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.img-one-left{
    background: #c5c5c5;
}
.img-one-right{
    background: #99a9b5;
}
#list-useful-links {
    font-family: SourceSansPro-Regular;
    margin-top: 50px;
    list-style-position: inside !important;
    list-style-type: disc !important;
}
#list-useful-links ul li:hover {
    color: #00bcd4;
}

.footer-end {
    color: #99a9b5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #181828;
    height: 50px;
}
.social-icons-footer li {
    margin-right: 11px;
}
.list-support {
    list-style-type: none;
    display: flex;
}
.list-support li {
    margin-right: 35px;
}
.text-news-letter {
    margin-top: 44px
}
.news-letter p {
    margin-top: -5px;
    font-size: 19px;
    font-family: SourceSansPro-Regular;
    font-weight: bold;
    display: inline-block;
}
.inputNew-letter {
    display: flex;
    margin-top: 45px;
    width: 100%;
    align-items: center;
}
.icon {
    display: flex;
    height: 40px;
    width: 37px;
    background-color: #394050;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.row-footer-end {
    display: flex;
    justify-content: space-between;
}
.copy-right {
    float: left;
}
.copy-right a {
    text-decoration: none;
    color: #00bcd4;
    font-size: 14px;
}
.social-icons-footer {
    list-style-type: none;
    display: flex;
}
.footer-bottom{
    text-decoration: none;
    list-style: none;
    color: gray;
}

/*RESPONSIVE MENU*/
.checkbtn {
    font-size: 30px;
    color: rgb(79, 82, 80);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}
.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 2;
    animation: fadeIn linear 0.2s;
}
