$color-a :#f4f6f7;
$color-b :#494c64;
$color-c :#3c3950;
$color-d :#58cadd;
$color-e :#f4fbfc;
$color-f :#212331;
$color-g :#00bcd4;
$color-h :#00cccc;
$color-j :#99a9b5;
$color-k :#394050;
$color-l :#181828;
$color-m :#c5c5c5;
$color-n :#ffffff;
$color-o :#5f727f;
$color-q :#dfe5e8;
$color-w :#d8e3e8;
$color-x :#f0f3f2;
$color-z :#b6c6c9;