.display-flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-top {
  background-color: #f4f6f7;
  height: 52px;
  font-family: SourceSansPro-Regular;
  font-size: 14px;
  color: #5f727f;
}

.area-content-display {
  width: 1170px;
  position: relative;
}

.type-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head-phone {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.head-phone li {
  padding-right: 5px;
}

.social-icons {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-icons li {
  margin-right: 11px;
}

.direction-item {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.direction-item img {
  height: 10px;
}

.direction-item li {
  margin-right: 23px;
}

.btn-wish-list button {
  width: 101px;
  height: 30px;
  color: #ffffff;
  background-color: #494c64;
  border-radius: 4px;
}

.header-top {
  font-family: Montserrat-Bold;
  height: 96px;
  color: #3c3950;
}

.brand {
  font-size: 27px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brand li {
  padding-right: 5px;
}

.header-navigation {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
}

.header-navigation li {
  margin-left: 47px;
}

.header-navigation li a {
  text-decoration: none;
  color: #3c3950;
}

.header-navigation li a:hover {
  color: #58cadd;
}

.header-navigation li a:active {
  border: 2px solid #3c3950;
  padding: 10px 23px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.flag-card {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flag-card > li {
  margin-left: 21px;
}

.tag-box {
  position: relative;
  -webkit-transform: translateX(-15px);
          transform: translateX(-15px);
  margin-top: 13px;
}

.tag-box img {
  width: 30px;
  height: 30px;
}

.number-product {
  font-size: 14px;
  color: #f4fbfc;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -5%);
          transform: translate(-50%, -5%);
}

.banner {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#85365b), to(#77889e));
  background-image: linear-gradient(to bottom right, #85365b, #77889e);
  position: relative;
}

.text-banner {
  font-family: montserrat-ultra-light;
  font-size: 100px;
}

.text-banner span {
  font-family: Montserrat-Bold;
}

.description-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 397px;
  color: #ffffff;
}

.description-banner ul {
  list-style-type: none;
  text-align: right;
}

.text-banner-small {
  font-size: 24px;
  font-family: SourceSansPro-Light;
  margin-top: 9px;
}

.text-direction-page {
  font-family: SourceSansPro-Regular;
  position: absolute;
  left: 0%;
  bottom: 5%;
}

.btn-direction button {
  width: 80px;
  height: 80px;
  background-color: #212331;
}

.btn-direction button:hover {
  background-color: #00bcd4;
}

.btn-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0%;
}

.btn-prev {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0%;
}

.btn-arrow {
  font-size: 45px;
  color: #ffffff;
}

.main-content {
  margin-top: 111px;
}

.sidebar {
  color: #3c3950;
  width: 261px;
  font-family: Montserrat-Bold;
  display: inline-block;
}

.title-ctg {
  font-size: 19px;
  color: #3e3950;
}

.title-ctg img {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 9px;
  margin-left: 8px;
}

.text-footer {
  padding-top: 50px;
}

.text-footer img {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 9px;
  margin-left: 8px;
}

.sidebar-category {
  margin-top: 30px;
  border: 1px #dfe5e8 solid;
  font-size: 14px;
}

.sidebar-category a {
  color: #3c3950;
  display: block;
  text-decoration: none;
  padding: 16px 20px;
  border-bottom: 1px solid #dfe5e8;
}

.fl-right {
  float: right;
}

.dropdown-content {
  font-family: SourceSansPro-Regular;
  color: #5f727f;
  font-size: 16px;
  display: none;
  background-color: #f4f6f7;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  padding: 16px 20px;
  text-decoration: none;
  display: block;
  width: 261px;
}

.dropdown-content a i {
  font-size: 7px;
  padding: 6px 14px;
}

.dropdown-content a:hover {
  background-color: #d8e3e8;
  color: #58cadd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #58cadd;
}

.dropdown:hover .dropbtn i {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.child-dropdown {
  color: #e4eaed;
}

.child-dropdown:hover .child-content {
  display: block;
}

.child-dropdown:hover .drop-btn i {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.child-content {
  display: none;
}

.child-content > a {
  font-size: 14px;
}

.child-content > a:hover {
  color: #f44336;
}

.search-box {
  margin-top: 68px;
  position: relative;
  margin-bottom: 60px;
}

.search-icon {
  position: absolute;
  left: 89%;
  top: 37%;
  color: #99a9b5;
}

.mySearch {
  width: 100%;
  padding: 11px;
  border: 2px solid #dfe5e8;
  font-size: 16px;
}

.filter-st {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 61px;
}

.display-style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 31px;
}

.filter-price {
  width: 100%;
  background-color: #f0f3f2;
  height: 6px;
  position: relative;
}

.style-select {
  width: 100%;
  height: 40px;
  font-family: SourceSansPro-Regular;
  color: #a1b0ba;
  border-color: #a1b0ba;
  font-size: 16px;
}

.circle-icon-start {
  position: absolute;
  color: #00bcd4;
  left: 0%;
  top: -5px;
}

.circle-icon-end {
  position: absolute;
  color: #00bcd4;
  left: 60%;
  top: -5px;
}

.myProgress {
  width: 60%;
  height: 6px;
  background-color: #b6c6c9;
}

.btn-filter-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.btn-filter {
  font-size: 14px;
  font-family: Montserrat-Bold;
  color: #00bcd4;
  width: 82px;
  height: 29px;
  border: 2px solid #00bcd4;
}

.text-price {
  font-size: 16px;
  font-family: SourceSansPro-Regular;
  color: #99a9b5;
}

.text-price > span {
  color: #5f727f;
}

.recently-view-product {
  background-color: #f0f3f2;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.product-viewed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 13px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #dfe5e8;
  padding: 9px;
}

.img-product-viewed {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
}

.product-viewed-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6px;
}

.bg1 {
  background-color: #99a9b5;
}

.bg2 {
  background-color: #c9d6d8;
}

.bg3 {
  background-color: #c5c5c5;
}

.tag-percent {
  background-color: #00bcd4;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  color: #ffffff !important;
}

.tag-percent-view {
  right: 0px;
}

.tag-percent-featured {
  right: -10px;
  top: 14px;
}

.prod-tags {
  color: #5f727f;
}

.prod-tags > span {
  border: 1px solid #99a9b5;
  display: inline-block;
  margin: 0 9px 9px 0;
  padding: 6px;
}

.featured-product-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 18px;
}

.product-featured {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18px;
  border: 1px solid #dfe5e8;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-hightlight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18px;
  border: 1px solid #dfe5e8;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  width: 365px;
  position: relative;
}

.img-product-featured {
  width: 80px;
  height: 80px;
  position: relative;
}

.ads-coupon {
  width: 100%;
  margin: 83px 0 68px;
  height: 584px;
  padding: 18px;
  background-color: #ff5176;
}

.border-white {
  border: 8px solid #ffffff;
  height: 548px;
  text-align: center;
}

.ads-coupon-content {
  text-align: center;
}

.color-text {
  color: #ffffff;
}

#for-free {
  color: #d6d60c;
  font-size: 32px;
}

.coupon {
  font-size: 36px;
  letter-spacing: 2px;
}

.price-coupon {
  font-size: 120px;
}

.text-size {
  font-size: 24px !important;
}

#mr {
  margin: 26px 29px 40px;
  color: #ffffff;
}

.form-submit-mail {
  margin: 0 20px;
}

.input-mail {
  border: none;
  padding: 15px;
  width: 100%;
  font-size: 16px;
  height: 40px;
}

.btn-submit-mail {
  width: 100%;
  height: 40px;
  border: none;
  background-color: #2c2e3d;
  color: #ffffff;
  margin-top: 14px;
}

.sub-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.view-checkout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 34px;
}

.btn-view {
  width: 124px;
  height: 30px;
  font-size: 14px;
  border-radius: 3px;
  border: none;
  background-color: #00bcd4;
  color: #ffffff;
}

.btn-checkout {
  width: 124px;
  height: 30px;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid #3c3950;
  color: #3c3950;
}

#subtotal {
  float: right;
  font-size: 24px;
}

.main-product {
  float: right;
  width: calc(100% - 303px);
}

.font-fm-sourceRL {
  font-size: 20px;
  font-family: SourceSansPro-Light;
  color: #3c3950;
}

.font-fm-monb {
  font-family: Montserrat-Bold;
}

.font-fm-monUtraL {
  font-family: montserrat-ultra-light;
  color: #3c3950;
}

.font-fm-sourceR {
  color: #7a8993;
  font-family: SourceSansPro-Regular;
}

.lists-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product-item {
  width: calc(33.333% - 28px);
  margin-bottom: 42px;
}

.product-item:hover .ctg-description {
  background-color: #393d50;
  color: #ffffff;
}

.product-item:hover .img-product {
  background-color: #a8e2e9;
}

.product-item:hover .product-description {
  background-color: #f0f3f2;
}

.product-item:hover hr {
  width: 83px;
}

.ctg-description {
  position: relative;
  background-color: #f9fbfc;
  color: #3c3950;
  width: 100%;
  height: 85px;
}

.ctg-infor {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
}

.ctg-infor hr {
  width: 50px;
  border: 0.2px solid #00bcd4;
}

.banner-ctg {
  background-color: #d8e3e8;
  width: 100%;
  height: 211px;
}

.button-products {
  background-color: #d8e3e8;
  height: 47px;
}

.btn-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  margin-bottom: 73px;
}

.btn-pagination > button {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #99a9b5;
  color: #99a9b5;
}

.btn-pagination > button:hover {
  color: #ffffff;
  background-color: #3c3950;
}

.nav-sort {
  background-color: #f0f3f2;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 42px;
}

.sort-dropdown select {
  width: 182px;
  height: 30px;
  border: none;
  font-family: SourceSansPro-Regular;
  color: #99a9b5;
  font-size: 16px;
}

.show-page-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  color: #99a9b5;
}

.switch {
  position: relative;
  display: inline-block;
  width: 43px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-desc-asc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  font-family: montserrat-ultra-light;
  font-size: 14px;
  color: #5f727f;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #b6c6c9;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2196F3;
          box-shadow: 0 0 1px #2196F3;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.img-product {
  background-color: #f0f3f2;
  width: 100%;
  height: 327px;
  position: relative;
}

.product-description {
  background-color: #ffffff;
  width: 100%;
  height: 143px;
  border-left: 1px solid #dfe5e8;
  border-right: 1px solid #dfe5e8;
  border-bottom: 1px solid #dfe5e8;
}

.product-infor {
  color: #5f727f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 13px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: relative;
}

.star hr {
  width: 50px;
  border: 1px solid #00bcd4;
  -webkit-transition: width .2s;
  transition: width .2s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.list-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.color-star {
  color: #ffc107;
}

.color-price {
  color: #42c6da;
}

.color-heart {
  color: #f5564c;
}

#btn-mr {
  margin-top: 16px;
  margin-bottom: 123px;
}

#style-btn-pgn {
  background-color: #b6c6c9;
  color: #ffffff !important;
  border: none;
}

#style-btn-1 {
  background-color: #3c3950;
  border: none;
  color: #ffffff !important;
}

#style-btn-4 {
  background-color: #00bcd4;
  border: none;
  color: #ffffff !important;
}

.tag-ads-sale {
  border-radius: 50%;
  position: relative;
  background-color: #00bcd4;
  width: 63px;
  height: 63px;
  z-index: 2;
}

.tag-ads-new {
  border-radius: 50%;
  position: relative;
  background-color: #393d50;
  width: 50px;
  height: 50px;
}

#new {
  position: absolute;
  top: 50px;
  left: 5px;
  z-index: 1;
}

.tag-sn {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 12px;
}

.tag-ads {
  position: absolute;
  right: -22px;
  top: 22px;
}

.our-brand-box {
  width: 100%;
  height: 500px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f0f3f2;
  background-image: linear-gradient(135deg, #fff 50%, transparent 50%), linear-gradient(225deg, #fff 50%, transparent 50%), linear-gradient(45deg, #fff 50%, transparent 50%), linear-gradient(-45deg, #fff 50%, transparent 50%);
  background-position: top left, top left, bottom left, bottom left;
  background-size: 50px 50px;
  background-repeat: repeat-x;
}

.text-our-brand {
  font-size: 28px;
  text-align: center;
  margin: 78px 0 82px;
}

.list-img-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.bg-brand {
  background-color: #dfe5e8;
}

.bg-brand:hover {
  background-color: #99a9b5;
}

.dot-box {
  text-align: center;
  margin: 93px 0 65px;
}

.dot {
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin: 0 8px;
  background-color: #b6c6c9;
  border-radius: 50%;
  display: inline-block;
}

.dot:hover {
  background-color: #717171;
}

.title-latest-news {
  font-family: montserrat-ultra-light;
  font-size: 28px;
  text-align: center;
  color: #555;
  padding-top: 77px;
}

.latest-news {
  margin-top: 70px;
}

.latest-news-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card-latest-news {
  width: 261px;
}

.img-latest {
  width: 100%;
  height: 188px;
  background: #dfe5e8;
}

.content-latest {
  background: #f0f3f2;
  padding: 18px;
}

.emotion {
  font-size: 14px;
}

.by-author {
  display: inline-block;
}

.by-author span {
  color: #00bcd4;
}

.icon-cmt {
  float: right;
}

.icon-cmt > span {
  margin-right: 8px;
}

.icon-cmt i {
  margin-right: 8px;
}

.color-icon {
  color: #f44336;
}

.title-latest {
  margin-top: 42px;
  font-size: 24px;
  color: #3c3950;
}

.description-latest {
  margin-top: 42px;
  color: #83919a;
}

.btn-latest {
  margin-top: 42px;
}

.btn-share {
  background-color: #b6c6c9;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  color: #ffffff;
  border: none;
}

.btn-readmore {
  cursor: pointer;
  border: 3px solid #00bcd4;
  margin-left: 18px;
  width: 125px;
  height: 30px;
  color: #00bcd4;
  font-size: 14px;
}

.line-horizontal {
  border: 1px solid #dfe5e8;
  width: 100%;
  margin: 80px 0;
}

.pay-shipping-box {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pay-shipping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pay-box {
  height: 330px;
  width: 563px;
  border-right: 1px solid #dfe5e8;
  border-radius: 0 50px 50px 50px;
  padding: 52px;
  border-bottom: 1px solid #dfe5e8;
}

.shipping-box {
  height: 330px;
  width: 563px;
  border-right: 1px solid #dfe5e8;
  border-radius: 0 50px 50px 50px;
  padding: 52px;
  border-bottom: 1px solid #dfe5e8;
}

.content-pay {
  margin-bottom: 31px;
}

.method-pay {
  font-size: 24px;
  color: #3c3950;
}

.method-pay i {
  font-size: 40px;
  float: right;
}

.pay-accept {
  display: inline-block;
}

.description-about {
  margin-bottom: 34px;
}

.lists-img-paycard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.card-img-pay {
  background-color: #f1f1f1;
  width: 52px;
  height: 34px;
}

.checkbox-method-shipping {
  list-style-type: none;
  margin-top: 40px;
}

.checkbox-method-shipping li {
  padding-bottom: 15px;
}

.checkbox-method-shipping li img {
  margin-right: 10px;
}

.highlight-products-box {
  margin-top: 92px;
  height: 523px;
  background: #f0f3f2;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.highlight-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.star-rated {
  position: absolute;
  right: 16px;
  bottom: 16px;
  font-size: 12px;
  color: #b6c6c9;
}

.sell-more {
  height: 225px;
  background-color: #d1edac;
  color: #3c3950;
  position: relative;
}

.content-sell-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 225px;
}

.text-sell-more {
  font-size: 42px;
  display: inline-block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.diamond-icon i {
  font-size: 87px;
  color: #3c3950;
  margin-right: 20px;
}

.btn-sell-more {
  cursor: pointer;
  width: 235px;
  height: 48px;
  border: 3px solid #3c3950;
  font-size: 19px;
  color: #3c3950;
  background-color: #d1edac;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #212331;
  color: #93a2ae;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 130px;
  margin-bottom: 50px;
}

.thegem-footer {
  width: 261px;
  margin-right: 42px;
}

.img-logo-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.img-logo-footer img {
  width: 90px;
  height: 90px;
}

.img-logo-footer p {
  color: #ffffff;
  font-family: SourceSansPro-Regular;
  font-size: 38px;
}

.img-logo-footer span {
  font-family: Montserrat-Bold;
}

.one {
  background-color: #999999;
}

.two {
  background-color: #666666;
}

.three {
  background-color: #336666;
}

.contact-footer {
  padding-top: 70px;
}

.title-footer {
  font-size: 19px;
  color: #ffffff;
  display: inline-block;
  font-family: Montserrat-Bold;
}

.address-footer p {
  padding-top: 20px;
}

.icon-contact-footer img {
  padding-top: 20px;
}

.footer-email {
  color: #00cccc;
}

.list-title {
  color: #00cccc;
}

.content-thegem {
  width: 870px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content-footer-1 {
  width: 100%;
  height: 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 42px;
}

.content-footer-col1 {
  width: 261px;
}

.content-footer-col2 {
  width: 261px;
  margin-top: 80px;
}

.content-footer-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-recent-posts {
  margin-top: 50px;
}

.card-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 10px;
}

.img-recent {
  min-width: 72px;
  height: 72px;
  border-radius: 50%;
  margin: 0 10px 0 0;
}

.content-recent span {
  color: #00bcd4;
}

.email-us button {
  width: 100%;
  height: 40px;
  border: none;
  color: #99a9b5;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  background-color: #394050;
  margin-top: 16px;
  height: 40px;
  border: none;
  color: #99a9b5;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  background-color: #394050;
  margin-top: 16px;
}

.input-text-user-email {
  position: relative;
}

.input-text-user-email i {
  position: absolute;
  right: 0;
  top: 8px;
  padding: 9px 8px;
}

.input-text-user-email input[type="email"] {
  width: 100%;
  margin: 8px 0;
  padding: 8px;
  font-size: 16px;
  font-family: SourceSansPro-Regular;
  color: #ffffff;
  height: 40px;
  font-size: 16px;
  font-family: SourceSansPro-Regular;
  color: #ffffff;
}

.input-text-user-email input[type="text"] {
  width: 100%;
  margin: 8px 0;
  padding: 8px;
  font-size: 16px;
  font-family: SourceSansPro-Regular;
  color: #ffffff;
  height: 40px;
  font-size: 16px;
  font-family: SourceSansPro-Regular;
  color: #ffffff;
}

.input-email {
  margin-top: 50px;
}

.input-email input {
  background-color: #181828;
}

.inputNew-letter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 45px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inputNew-letter input {
  background-color: #181828;
}

.inputNew-letter input[type="text"] {
  height: 40px;
  font-size: 16px;
  font-family: SourceSansPro-Regular;
  color: #ffffff;
}

textarea {
  background-color: #181828;
  width: 100%;
  margin: 8px 0;
  padding: 8px;
  font-size: 16px;
  font-family: SourceSansPro-Regular;
  color: #ffffff;
  height: 100px;
}

.img-project-client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
}

.footer-img-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80px;
  height: 80px;
}

.img-footer-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 75px;
}

.img-one-footer {
  width: 25px;
  height: 25px;
  border-radius: 15px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}

.img-one-left {
  background: #c5c5c5;
}

.img-one-right {
  background: #99a9b5;
}

#list-useful-links {
  font-family: SourceSansPro-Regular;
  margin-top: 50px;
  list-style-position: inside !important;
  list-style-type: disc !important;
}

#list-useful-links ul li:hover {
  color: #00bcd4;
}

.footer-end {
  color: #99a9b5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #181828;
  height: 50px;
}

.social-icons-footer {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-icons-footer li {
  margin-right: 11px;
}

.list-support {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list-support li {
  margin-right: 35px;
}

.text-news-letter {
  margin-top: 44px;
}

.news-letter p {
  margin-top: -5px;
  font-size: 19px;
  font-family: SourceSansPro-Regular;
  font-weight: bold;
  display: inline-block;
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  width: 37px;
  background-color: #394050;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.row-footer-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.copy-right {
  float: left;
}

.copy-right a {
  text-decoration: none;
  color: #00bcd4;
  font-size: 14px;
}

.footer-bottom {
  text-decoration: none;
  list-style: none;
  color: gray;
}

<<<<<<< HEAD
/* mobile */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
  html {
    width: 100%;
    overflow-x: hidden;
  }
  body {
    width: 100%;
    overflow-x: hidden;
  }
}

@media only screen and (-o-min-device-pixel-ratio: 3 / 2) {
  html {
    width: 100%;
    overflow-x: hidden;
  }
  body {
    width: 100%;
    overflow-x: hidden;
  }
}

@media only screen and (min-device-pixel-ratio: 1.5) {
  html {
    width: 100%;
    overflow-x: hidden;
  }
  body {
    width: 100%;
    overflow-x: hidden;
  }
}

.btn-bar-tablet {
  font-size: 30px;
  color: #3c3950;
  margin-right: 15px;
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  display: none;
  z-index: 2;
  -webkit-animation: fadeIn linear 0.2s;
          animation: fadeIn linear 0.2s;
}

.header-mobile {
  position: fixed;
  max-height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  width: 90%;
  max-width: 100%;
  background: #ffff;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  z-index: 3;
  -webkit-transition: opacity linear 0.2s, -webkit-transform linear 0.2s;
  transition: opacity linear 0.2s, -webkit-transform linear 0.2s;
  transition: transform linear 0.2s, opacity linear 0.2s;
  transition: transform linear 0.2s, opacity linear 0.2s, -webkit-transform linear 0.2s;
  opacity: 0;
}

.btn-nav-close-mb {
  font-size: 20px;
  margin-right: 10px;
  float: right;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 4;
}

.nav-mobile-lists {
  list-style-type: none;
  padding: 26px;
}

.nav-mobile-lists li {
  border-bottom: 1px solid #dfe5e8;
  width: 100%;
}

.nav-mobile-lists li:hover {
  color: #42c6da;
}

.nav-mobile-lists a i {
  margin-top: 14px;
  margin-right: 10px;
}

.nav-form-mobile {
  position: relative;
  padding: 10px;
}

.nav-form-mobile i {
  font-size: 14px;
}

.nav-link-mobile {
  text-decoration: none;
  color: #3c3950;
  line-height: 40px;
  font-size: 12px;
}

.nav-check:checked ~ .overlay {
  display: block;
}

.nav-check:checked ~ .header-mobile {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

@media only screen and (min-width: 1025px) and (max-width: 1310px) {
  .description-banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .description-banner ul {
    text-align: center;
  }
  .text-direction-page {
    position: absolute;
    left: 10%;
    bottom: 5%;
  }
  .btn-direction button {
    width: 50px;
    height: 50px;
  }
  .btn-direction img {
    width: 20px;
  }
  .card-latest-news {
    width: 30%;
    margin-bottom: 42px;
  }
  .pay-box {
    width: 49%;
  }
  .shipping-box {
    width: 49%;
  }
  .highlight-products-box {
    height: auto;
  }
  .display-style {
    margin-top: 20px;
  }
  .text-sell-more {
    font-size: 38px;
  }
}

@media only screen and (max-width: 1024px) {
  .btn-bar-tablet {
    display: block;
  }
  .header-navigation {
    display: none;
  }
  .flag-card {
    display: none;
  }
  .nav-top {
    display: none;
  }
  .description-banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .description-banner ul {
    text-align: center;
  }
  .text-banner {
    font-size: 50px;
  }
  .text-direction-page {
    position: absolute;
    left: 10%;
    bottom: 5%;
  }
  .brand {
    margin-left: 14px;
  }
  .search-box {
    display: none;
  }
  .size-bars {
    font-size: 30px !important;
  }
  .times-close {
    font-size: 20px !important;
    color: #f5564c;
  }
  .filter-st {
    margin-top: 26px;
    gap: 22px;
  }
  .fas {
    font-size: 13px;
  }
  .font-fm-sourceR {
    font-size: 14px;
  }
  .font-fm-sourceRL {
    font-size: 17px;
  }
  .hidden-tablet-mobile {
    display: none;
  }
  .tag-ads-sale {
    width: 50px;
    height: 50px;
  }
  #new {
    top: 40px;
  }
  .tag-ads-new {
    width: 40px;
    height: 40px;
  }
  .tag-sn {
    font-size: 9px;
  }
  .switch {
    width: 36px;
    height: 18px;
  }
  .slider::before {
    height: 12px;
    width: 13px;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(18px);
            transform: translateX(18px);
  }
}

@media only screen and (min-width: 740px) and (max-width: 1024px) {
  .hidden-tablet {
    display: none;
  }
  .area-content-display {
    width: 100%;
  }
  .text-banner-small {
    font-size: 19px;
  }
  .btn-direction button {
    width: 34px;
    height: 34px;
  }
  .btn-direction img {
    width: 12px;
  }
  .text-direction-page {
    font-size: 15px;
  }
  .sidebar {
    width: 30%;
    margin-left: 20px;
  }
  .main-product {
    width: calc(66.667% - 30px);
    margin-right: 10px;
  }
  .product-item {
    width: calc(50% - 15px);
  }
  .title-ctg {
    font-size: 14px;
  }
  .sidebar-category {
    font-size: 12px;
  }
  .nav-sort {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 40px;
  }
  .sort-dropdown select {
    width: auto;
    height: 30px;
    font-size: 14px;
  }
  .toggle-desc-asc {
    gap: 3px;
    font-size: 14px;
  }
  .coupon {
    font-size: 29px;
  }
  #for-free {
    font-size: 26px;
  }
  #mr {
    margin: 14px 29px 40px;
  }
  .text-size {
    font-size: 21px !important;
  }
  .latest-news-row {
    gap: 42px;
    padding: 60px;
  }
  .pay-shipping {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pay-box {
    width: 84%;
    margin: 0 52px 42px;
  }
  .shipping-box {
    width: 84%;
    margin: 0 52px 42px;
  }
  .highlight-products-box {
    height: auto;
  }
  .display-style {
    margin-top: 20px;
  }
  .diamond-icon i {
    font-size: 70px;
  }
  .text-sell-more {
    font-size: 25px;
  }
}

@media only screen and (max-width: 739px) {
  .header-mobile {
    overflow-y: scroll;
  }
  .banner {
    margin-bottom: 20px;
  }
  .text-banner-small {
    padding: 0 50px;
    font-size: 15px;
  }
  .btn-direction button {
    width: 20px;
    height: 20px;
  }
  .btn-direction img {
    width: 12px;
  }
  .text-direction-page {
    font-size: 12px;
  }
  .main-content {
    margin-top: 0;
  }
  .area-content-display {
    width: 100%;
  }
  .sidebar {
    width: 100%;
    padding: 0 42px;
  }
  .main-product {
    width: 100%;
  }
  .product-item {
    width: 100%;
    margin: 0 52px 42px;
  }
  .card-latest-news {
    width: 100%;
    margin: 0 52px 42px;
  }
  .content-hightlight {
    width: 100%;
  }
  .title-ctg {
    font-size: 12px;
  }
  .title-ctg img {
    width: 6px;
  }
  .sidebar-category {
    font-size: 10px;
  }
  .display-style {
    gap: 20px;
  }
  .btn-filter {
    width: 66px;
    height: 26px;
    font-size: 12px;
  }
  .text-price {
    font-size: 14px;
  }
  .style-select {
    font-size: 14px;
    height: 33px;
  }
  .recently-view-product {
    height: 270px;
  }
  .img-product-viewed {
    width: 66px;
    height: 70px;
    height: 50px;
  }
  .hidden-tag-mobile {
    display: none;
  }
  .ads-coupon {
    display: none;
  }
  .product-viewed {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .view-checkout {
    margin: 20px 0;
  }
  .btn-view {
    width: 100px;
  }
  .btn-checkout {
    width: 100px;
  }
  .btn-pagination {
    margin-bottom: 36px;
    gap: 8px;
  }
  .nav-sort {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 40px;
  }
  .sort-dropdown select {
    width: auto;
    height: 30px;
    font-size: 11px;
  }
  .toggle-desc-asc {
    gap: 3px;
    font-size: 11px;
  }
  .banner-ctg {
    height: 150px;
  }
  .img-product {
    height: 240px;
  }
  #btn-mr {
    margin-bottom: 60px;
  }
  .our-brand-box {
    height: 324px;
  }
  .text-our-brand {
    margin-bottom: 20px;
    font-size: 24px;
  }
  .list-img-brand {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
    margin: 0 40px;
  }
  .dot-box {
    margin-top: 20px;
  }
  .dot {
    width: 11px;
    height: 11px;
  }
  .title-latest-news {
    padding-top: 35px;
  }
  .latest-news {
    margin-top: 58px;
  }
  .pay-shipping {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 16px;
  }
  .method-pay {
    font-size: 16px;
  }
  .method-pay i {
    font-size: 29px;
  }
  .lists-img-paycard {
    gap: 14px;
  }
  .pay-box {
    width: 100%;
    padding: 36px;
    height: auto;
  }
  .shipping-box {
    width: 100%;
    padding: 36px;
    height: auto;
  }
  .highlight-products-box {
    margin-top: 44px;
    height: auto;
    padding: 5px;
  }
  .highlight-products {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .content-sell-more {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 24px;
    text-align: center;
  }
  .diamond-icon i {
    font-size: 60px;
  }
  .text-sell-more {
    font-size: 18px;
    position: static;
    -webkit-transform: none;
            transform: none;
  }
}

=======
>>>>>>> db73133735672f6c6085329502ea06b708b67ef8
@font-face {
  font-family: 'SourceSansPro-Light';
  src: url("../fonts/SourceSansPro-Light.ttf");
  font-family: 'SourceSansPro-Regular';
  src: url("../fonts/SourceSansPro-Regular.ttf");
  font-family: 'montserrat-ultra-light';
  src: url("../fonts/montserrat-ultra-light.otf");
  font-family: 'Montserrat-Bold';
  src: url("../fonts/Montserrat-Bold.ttf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  background-color: #ffffff;
}
/*# sourceMappingURL=index.css.map */